# Dependencies
node_modules/
**/node_modules/

# Compiled Output
dist/
**/dist/
*.tsbuildinfo
*.js.map
*.mjs.map

# Environment Variables
.env
.env.local
.env.*.local
**/.env
**/.env.local
**/.env.*.local

# IDEs and Editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System Files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Temp/Cache
.cache/
.local/
tmp/
**/tmp/
